body {

}

h1 {
    border: 1px dashed black;
}

.grocery-category-main {
    border: 1px dashed black;
}

.category-heading {
    border: 1px dashed black;
}

.sub-category-heading {
    border: 1px dashed black;
}

footer {
    border: 1px dashed black;
}